EXPO_PUBLIC_AUTH0_DOMAIN=<AUTH0_DOMAIN>
EXPO_PUBLIC_AUTH0_CLIENT_ID=<AUTH0_CLIENT_ID>
EXPO_PUBLIC_AUTH0_REDIRECT_PATH=auth/callback
EXPO_PUBLIC_AUTH0_REDIRECT_URI=

EXPO_PUBLIC_SUPABASE_URL=https://<PROJECT_REF>.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=<SUPABASE_ANON_PUBLIC_KEY>
