PORT=3000

# Esta ya la tenés bien (es para Prisma/Drizzle si los usás)
DATABASE_URL=postgresql://postgres.plqszirpxyeecygatoeq:%40Casarodry1@aws-1-us-west-2.pooler.supabase.com:6543/postgres?sslmode=disable
# ESTO ES LO QUE TENÉS QUE CAMBIAR:
# Sacá la URL de la captura donde decía "Project URL"
SUPABASE_URL=https://plqszirpxyeecygatoeq.supabase.co

# Sacá la clave de la captura donde decía "anon public"
SUPABASE_ANON_KEY=sb_publishable_OAcXyfUPE74QoBZOF7P7Sg_M0F65bMA