# Configuración del Servidor
PORT=3000

# Conexión a Base de Datos (Prisma/Drizzle)
DATABASE_URL=postgresql://user:password@localhost:5432/mindguild

# Credenciales de Supabase (Sacarlas del Dashboard de Supabase)
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=tu-clave-anon-public-aqui